.my-btn {
  margin-right: 40px !important;
  border: 4px !important;
  border-style: solid !important;
  border-color: #f27e2e !important;
  font-family: "KalamehExtraBold" !important;
  font-size: 20px !important;
  font-weight: 700 !important;
}

.background-yes {
  background-color: #f27e2e !important;
  color: #1c1a2d !important;
}

.background-no {
  background-color: #3a365e !important;
  color: #f27e2e !important;
}
