.my-btn {
    background-color: #F27E2E;
    color: #1C1A2D;
    margin-right: 40px;
    border: 4px;
    border-style: solid;
    border-color: #F27E2E;
    font-family: "KalamehExtraBold";
    font-size: 20px;
    font-weight: 700;
}