.course-info-page-container {
  padding: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4%;

  img {
    max-width: 873px;
    max-height: 575px;
  }
}

.course-info-picture-description {
  margin-top: 20px;
  font-weight: 600;
}

.course-info-up-side {
  display: flex;
  justify-content: space-between;
}

.course-info-up-side-right-hand {
  max-width: 880px;
}

.course-info-up-side-left-hand-course-sub-info {
  padding: 20px;
  background-color: #3a365e;
  border-radius: 20px;
  margin-bottom: 20px;
}

tr,
td {
  margin: 8px !important;
  padding-bottom: 16px;
}

th {
  display: flex;
  padding-bottom: 8px;
}

.course-info-up-side-left-hand-teacher-info {
  padding: 20px;
  background-color: #3a365e;
  border-radius: 20px;
}

.course-info-up-side-left-hand-price-ticket {
  display: flex;
  flex-direction: column;
  background-color: #3a365e;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.course-info-page-ticket-shape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1a2d;
  border-radius: 12px;
  margin-bottom: 20px;
  height: 124px;
}

.half-circle-left {
  width: 8%;
  height: 40%;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
}

.half-circle-right {
  width: 8%;
  height: 40%;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
}

.course-info-down-side {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.course-info-down-side-right-hand {
  max-width: 873px;
  h3 {
    background-color: #3a365e;
    padding: 16px;
    margin: 16px 0px 8px 16px;
    width: 100%;
    border-radius: 20px;
  }

  video {
    max-width: 872px;
    max-height: 575px;
  }
}

.course-info-down-side-left-hand-arrow {
  background-color: #ead2b7;
  min-width: 3px;
  margin-left: 240px;
}

.course-info-page-preview-part {
  margin-top: 8%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .course-info-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 600px !important;
    }
  }

  .course-info-up-side {
    flex-direction: column;
    align-items: center;
  }

  .course-info-down-side {
    width: 100%;
  }

  .course-info-down-side-right-hand {
    align-items: start;
    width: 100%;

    video {
      max-width: 600px;
    }
  }

  .course-info-picture-description {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .course-info-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 280px !important;
    }
  }

  .course-info-up-side {
    flex-direction: column;
    align-items: center;
  }

  .course-info-down-side {
    width: 100%;
  }

  .course-info-down-side-right-hand {
    align-items: start;
    width: 100%;

    video {
      max-width: 600px;
    }
  }

  .course-info-picture-description {
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
