.course-info-page-container {
  padding: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.course-info-up-side {
  display: flex;
  justify-content: space-between;
}

.course-info-up-side-right-hand {
  max-width: 880px;
}

.course-info-up-side-left-hand {
  max-width: 400px;
}

.course-info-up-side-left-hand-course-sub-info {
  padding: 20px;
  background-color: #3a365e;
  border-radius: 20px;
  margin-bottom: 20px;
}

tr,
td {
  margin: 8px !important;
  padding-bottom: 16px;
}

th {
  display: flex;
  padding-bottom: 8px;
}

.course-info-up-side-left-hand-teacher-info {
  padding: 20px;
  background-color: #3a365e;
  border-radius: 20px;
}

.course-info-up-side-left-hand-price-ticket {
  display: flex;
  flex-direction: column;
  background-color: #3a365e;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.course-info-page-ticket-shape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1a2d;
  border-radius: 12px;
  margin-bottom: 20px;
  height: 124px;
}

.half-circle-left {
  width: 8%;
  height: 40%;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
}

.half-circle-right {
  width: 8%;
  height: 40%;
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
}

.course-info-down-side {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.course-info-down-side-right-hand {
  max-width: 720px;
}

.course-info-down-side-left-hand-arrow {
  background-color: #ead2b7;
  min-width: 3px;
  margin-left: 240px;
}

.course-info-page-preview-part {
  margin-top: 8%;
}
