nav {
  background-color: #3a365e;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.follow-us-in-social {
  font-size: 16px;
  color: #ead2b7;
}

.follow-us-in-social-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer-col-3 {
  font-size: 16px;
  display: flex;
  flex-direction: column !important;
}

.subtitle {
  font-family: KalamehBold !important;
}

.nav-link {
  color: #ead2b7 !important;
  font-family: KalamehThin;
}

.logo {
  margin-right: 0 !important;
  display: flex;
  align-items: center;
}

.navbar-nav {
  a {
    padding: 0;
  }
  li {
    font-weight: 400 !important;
    font-family: KalamehThin !important;
    padding: 8px;
  }
  strong {
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .footer-main-container {
    display: flex;
    width: 100%;
    .navbar-toggler {
      color: #f27e2e !important;
      border: 2px solid #ead2b7 !important;
    }

    .navbar {
      width: 100%;
      display: flex;

      .navbar-expand-lg {
        display: flex !important;
        flex-direction: column !important;
        justify-content: right !important;
      }
    }

    .container-fluid {
      display: flex;
      justify-content: right;
      width: 100%;

      a {
        text-align: right;
      }
    }

    .menu-items {
      padding-right: 2%;
      text-align: right;
      align-items: right;
    }

    .navbar-nav {
      display: flex;
      justify-content: right;
    }

    li {
      margin: 0px 0px 0px 0px;
      text-align: right;
    }
  }
}
