nav {
  background-color: #3a365e;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.follow-us-in-social {
  font-size: 16px;
  color: #ead2b7;
}

.follow-us-in-social-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer-col-3 {
  font-size: 16px;
  display: flex;
  flex-direction: column !important;
}

.subtitle {
  font-family: KalamehBold !important;
}

.nav-link {
  color: #ead2b7 !important;
  font-family: KalamehThin;
}

.logo {
  margin-right: 0 !important;
  display: flex;
  align-items: center;
}

.navbar-nav {
  a {
    padding: 0;
  }
  li {
    font-weight: 400 !important;
    font-family: KalamehThin !important;
    padding: 8px;
  }
  strong {
    font-weight: 700;
  }
}
