.menu-items {
  font-weight: 700;
  font-size: 18px;
  color: #ead2b7;
  text-decoration: none;
}

.header-links {
  a {
    font-weight: 700;
    font-size: 18px;
  }
}

li {
  margin-left: 64px;
}

a:link {
  color: #ead2b7;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ead2b7;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #58a4bd;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
