.panel-side-bar-menu-container {
  background-color: #3a365e;
  border-radius: 20px;
  min-width: 320px;
  max-width: 500px;
}

.panel-side-bar-menu-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1a2d;
  border-radius: 16px;
  margin: 16px;
  margin-bottom: 8px;
  padding: 24px 40px 24px 40px;
}

.list-item-side-bar-menu {
  background-color: #1c1a2d;
  padding: 20px;
  margin: 16px;
  font-size: 20px;
  font-weight: 700;
  list-style: url("../../assets/Pic/Cart/SquareBulletPointSvg.svg");
  border-radius: 16px;
}

.panel-side-bar-menu-person-name {
  font-size: 20px;
  font-weight: 700;
  margin: 16px;
}
