.repair-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;

  img {
    max-width: 540px;
  }
}

.repair-page-text-container {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .repair-page-container {
    padding: 32px;

    img {
      max-width: 480px;
    }
  }
}

@media screen and (max-width: 767px) {
  .repair-page-container {
    padding: 20px;

    img {
      max-width: 280px;
    }
  }

  .repair-page-text-container {
    font-size: 20px;
  }
}
