.about-us-container {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  direction: ltr;

  table {
    width: 60%;
  }
}
