.changePasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.changePasswordPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: rgb(227, 242, 253, 0.2);
  width: 50%;
  border-radius: 20px;
  margin: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .changePasswordPage-container {
    width: 100%;
    padding: 40px;
    margin: 40px;
  }
}

@media screen and (max-width: 767px) {
  .changePasswordPage-container {
    width: 100%;
    padding: 20px;
    margin: 40px;
  }
}
