.changePasswordPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.changePasswordPage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  background-color: rgb(227, 242, 253, 0.2);
  width: 50%;
  border-radius: 20px;
  margin: 80px;
}
