.courses-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.courses-page-container-right {
  max-width: 320px;
  padding: 16px;
  margin: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a365e;
  block-size: fit-content;
}

.dropdown-language {
  width: 246px;
  border-radius: 16px;
  background-color: #1c1a2d;
  padding: 20px;
  margin-bottom: 16px;
}

.dropdown-language-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

.dropdown-btn {
  font-family: KalamehBold !important;
  font-size: 20px !important;
  color: #ead2b7 !important;
  padding-bottom: 0 !important;
}

.form-check-input {
  background-color: #1c1a2d !important;
  border: 1px solid #ead2b7 !important;
  border-radius: 6px !important;
}

.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url(../../assets//Pic/checkedCheckboxSvg.svg) !important;
}

.dropdown-fee {
  width: 246px;
  border-radius: 16px;
  background-color: #1c1a2d;
  padding: 20px;
  margin-bottom: 16px;
}

.dropdown-fee-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

.dropdown-fee-radio-btn {
  border-radius: 8px !important;
}

.dropdown-tech-way {
  width: 246px;
  border-radius: 16px;
  background-color: #1c1a2d;
  padding: 20px;
  margin-bottom: 16px;
}

.dropdown-tech-way-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

.dropdown-teachers {
  width: 246px;
  border-radius: 16px;
  background-color: #1c1a2d;
  padding: 20px;
  margin-bottom: 16px;
}

.dropdown-teachers-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

.dropdown-diff-level {
  width: 246px;
  border-radius: 16px;
  background-color: #1c1a2d;
  padding: 20px;
}

.dropdown-diff-level-item {
  margin-right: 16px;
  margin-bottom: 12px;
}

.courses-page-container-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin: 40px;
  margin-right: 32px;
  width: 100%;
}

.card-row-test {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
