.home-main-container {
  max-width: 2000px;
  margin: auto;
}

.home-page-ads-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16%;
  padding: 40px;
  padding-top: 6%;
  background-color: #3a365e;
}

.home-page-ads-1-up-side {
  max-width: 572px;
  h2 {
    font-size: 28px;
    margin-bottom: 56px;
  }
}

.home-page-course-in-row-up-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.home-page-zaban-learn-info {
  max-width: 1240px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 16px;
  box-shadow: 18px 18px 30px 0px #000000cc, -18px -18px 30px 0px #322f51;
}

.home-page-zaban-learn-info-item {
  height: 240px;
  width: 320px;
  padding: 5%;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  box-shadow: 18px 18px 30px 0px #000000cc inset,
    -18px -18px 30px 0px #322f51 inset;
  margin: 8% 4% 8% 4%;
}

.home-page-zaban-learn-info-item-numbers {
  color: #f27e2e;
  font-family: KalamehBold;
  font-size: 60px;
  font-weight: 900;
  margin: 8px;
}

.home-page-end-part-title {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  margin: 2%;
}

.home-page-line-before-title,
.home-page-line-after-title {
  flex-grow: 1;
  height: 1px;
  background-color: black;
  margin: 0 64px;
}

.home-page-ads-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.home-page-ads-2-right-side {
  max-width: 600px;
}

.home-page-ads-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.home-page-ads-3-left-side {
  max-width: 600px;
}

.home-page-courses-in-row {
  margin: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-page-ads-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 450px !important;
    }

    h2 {
      margin-bottom: 16px;
    }

    .home-page-ads-1-up-side {
      .home-page-ads-1-up-side-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 24px !important;
      }
    }
  }

  .home-page-course-in-row-up-side {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .home-page-end-part-title {
    display: flex;
    flex-direction: column;
  }

  .home-page-ads-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;

    h1 {
      margin: 16px 0px 8px 0px !important;
    }

    img {
      max-width: 450px !important;
    }
  }

  .home-page-ads-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      margin: 16px 0px 8px 0px !important;
    }

    img {
      max-width: 450px !important;
    }
  }

  .home-page-courses-in-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.home-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .home-page-zaban-learn-info {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 300px !important;
  }

  .home-page-zaban-learn-info-item {
    max-width: 280px;
    padding: 1%;
  }

  .home-page-ads-2-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-page-ads-3-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .home-page-ads-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 300px !important;
    }

    h2 {
      margin-bottom: 16px;
    }

    .home-page-ads-1-up-side {
      .home-page-ads-1-up-side-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 24px !important;
      }
    }
  }

  .home-page-course-in-row-up-side {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }

  .home-page-end-part-title {
    display: flex;
    flex-direction: column;
  }

  .home-page-ads-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    img {
      max-width: 300px !important;
    }
  }

  .home-page-ads-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      max-width: 300px !important;
    }
  }

  .home-page-courses-in-row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.home-slider {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .home-page-zaban-learn-info {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 300px !important;
  }

  .home-page-zaban-learn-info-item {
    max-width: 280px;
    padding: 1%;
  }
}
