.login-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right,
    #3a365e 0%,
    #3a365e 50%,
    #1c1a2d 50%,
    #1c1a2d 100%
  );
}

.login-right-side {
  padding-left: 120px;
  color: #ead2b7;
}

.login-right-side-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-remember-btn {
  margin-top: 72px;
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.login-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 120px;
  padding-top: 88px;
  padding-bottom: 88px;
  color: #ead2b7;
}

.login-under-input-box {
  display: flex !important;
  justify-content: space-between;
}

h1 {
  font-family: KalamehExtraBold;
  font-weight: 700;
  font-size: 52px !important;
}

h3 {
  font-size: 24px !important;
}

h6 {
  font-family: KalamehThin;
  font-size: 16px !important;
}
