.register-container {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to right,
    #3a365e 0%,
    #3a365e 50%,
    #1c1a2d 50%,
    #1c1a2d 100%
  );
}

.register-right-side {
  color: #ead2b7;
  min-width: 480px;
  padding-left: 60;
}

.register-right-side-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-right-side-down {
  margin-top: 64px;
}

.register-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
  padding-top: 88px;
  padding-bottom: 88px;
  color: #ead2b7;
}

h1 {
  font-family: KalamehExtraBold;
  font-weight: 700;
  font-size: 52px !important;
}

h3 {
  font-size: 24px !important;
}

h6 {
  font-family: KalamehThin;
  font-size: 16px !important;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .register-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #1c1a2d;
    background-image: none;
  }

  .register-left-side {
    display: none;
  }

  .register-right-side {
    min-width: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .register-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #1c1a2d;
    background-image: none;
  }

  .register-left-side {
    display: none;
  }

  .register-right-side {
    min-width: 0;
    padding: 20px;
  }
}
