/* Add Kalameh Font */
@font-face {
  font-family: KalamehRegular;
  src: url("./assets/Font/Kalameh-Regular/Kalameh-Regular.ttf") format("truetype");
}
@font-face {
  font-family: KalamehExtraBold;
  src: url("./assets/Font/Kalameh-ExtraBold/Kalameh-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: KalamehThin;
  src: url("./assets/Font/Kalameh-Thin/Kalameh-Thin.ttf") format("truetype");
}
@font-face {
  font-family: KalamehBold;
  src: url("./assets/Font/Kalameh-Bold/Kalameh-Bold.ttf") format("truetype");
}

*{
  font-family: KalamehRegular;
  color: #EAD2B7;
}

.app-container {
  min-height: 64vh;
}